[include Rapid_Core.cfg]

[mcu CB2]
serial: /tmp/klipper_host_mcu

[mcu]
canbus_uuid: #Enter CAN BUS ID FOR MCU (M5P)

[mcu EBB]
canbus_uuid: #Enter CANBUS ID for EBB42


[printer]
kinematics: cartesian
max_velocity: 300   # Maximum velocity (in mm/s) of the toolhead (relative to the print). This parameter must be specified.
max_accel: 8000      # Maximum acceleration (in mm/s^2) of the toolhead (relative to the print). This parameter must be specified.
square_corner_velocity: 2 #5.0    # The maximum velocity (in mm/s) that the toolhead may travel a 90 degree corner at. A non-zero value can reduce changes in extruder flow rates by enabling instantaneous velocity changes of the toolhead during cornering. This value configures the internal centripetal velocity cornering algorithm; corners with angles larger than 90 degrees will have a higher cornering velocity while corners with angles less than 90 degrees will have a lower cornering velocity. If this is set to zero then the toolhead will  decelerate to zero at each corner. The default is 5mm/s.
max_z_velocity: 10 #12 #10   # This sets the maximum velocity (in mm/s) of movement along the z axis. This setting can be used to restrict the maximum speed of the z stepper motor. The default is to use max_velocity for max_z_velocity.
max_z_accel: 100 #120   #100 # This sets the maximum acceleration (in mm/s^2) of movement along the z axis. It limits the acceleration of the z stepper motor. The default is to use max_accel for max_z_accel.





#################################################################################################################
######################################### Clinet Variable Start #################################################
#################################################################################################################

#######
[idle_timeout]        # idle timeout is automatically enabled - add an explicit idle_timeout config section to change the default settings.
gcode:                # A list of G-Code commands to execute on an idle timeout. See docs/Command_Templates.md for G-Code format. The default is to run "TURN_OFF_HEATERS" and "M84".
    HANDLE_TIMEOUT
timeout: 1800         # Idle time (in seconds) to wait before running the above G-Code commands. The default is 600 seconds.

[gcode_macro HANDLE_TIMEOUT]
description: Called on idle timeout
gcode:
    {% if printer['print_stats'].state != "paused" %}
    TURN_OFF_HEATERS
    M84
    {% endif %}    
    
#######   
# Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True     ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 150.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 150.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_park_at_cancel_x : 150  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 150.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
gcode:

#######      
[gcode_arcs]
resolution: 0.1

#######
[force_move]
enable_force_move: True

####### 
[pause_resume]

#######
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    M107
    TURN_OFF_HEATERS
    M400
    G90
    G1 Z315 F1000
    G1 X0 Y0 F3000
    M84
    CANCEL_PRINT_BASE      ; clears Klipper’s printing state
    
######################################### Clinet Variable END ###################################################



#################################################################################################################
############################################ MACROS #############################################################
#################################################################################################################

####### macro-1 start #######
[gcode_macro PURGE_WIPE]
description : At the start of gcode it will create purge line in front of machine
gcode:
   ; Move to purge position
   G0 Z5.0 F600
   G0 X50 Y10 F12000		; front-left corner, 5mm up

   G92 E0				; reset extruder
   G0 Z0.4 F600
   G1 X100.0 E10 F3000		; purge intro line
   G92 E0				; reset extruder
   G1 X200 E15 F3000		; purge intro line
   G92 E0				; reset again
   G0 Z0.8 F600
   G1 X100.0 E15 F3000		; intro line
   
   G1 Z0.35 F600			    ;Wipe
   G0 Y21 F12000			;Wipe
   G1 X100 F12000			;Wipe
   G0 Y0 F24000			;Wipe
   G1 X200 F12000			;Wipe
   G1 X190 Y21 F12000		;Wipe
   G1 X180 Y0 F12000		;Wipe
   G1 X170 Y21 F12000		;Wipe
   G1 X160 Y0 F12000		;Wipe
   G1 X150 Y21 F12000		;Wipe
   G92 E0				    ;reset extruder
######## macro-1 end ########


####### macro-2 start #######
[gcode_macro FAKE_POSITION]
gcode:
    SET_KINEMATIC_POSITION X=150 Y=150 Z=150
######## macro-2 end ########


####### macro-3 start #######
[gcode_macro LOAD_FILAMENT]
description: Load filament at 250°C, then restore previous temperature
gcode:
    {% set prev_temp = printer.extruder.target %}
    M104 S250
    M109 S250                          ; Wait until 250°C
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0
    G91                                ; Relative positioning
    G1 E50 F300
    G1 E150 F150
    M400
    G90                                ; Absolute positioning
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=1
    {% if prev_temp > 0 %}
        M104 S{prev_temp}              ; Restore previous printing temp
    {% else %}
        M104 S0                        ; If no prior target, turn off heater
    {% endif %}

######## macro-3 end ########


####### macro-4 start #######

[gcode_macro TIMELAPSE]
description: Enable or disable timelapse (wrapper around _SET_TIMELAPSE_SETUP)
gcode:
  {% if params.ACTION|default("")|lower == "on" %}
    _SET_TIMELAPSE_SETUP ENABLE=True
    {action_respond_info("Timelapse: Enabled")}
  {% elif params.ACTION|default("")|lower == "off" %}
    _SET_TIMELAPSE_SETUP ENABLE=False
    {action_respond_info("Timelapse: Disabled")}
  {% else %}
    {action_raise_error("Use: TIMELAPSE ACTION=ON or TIMELAPSE ACTION=OFF")}
  {% endif %}

######## macro-4 end ########

############################################ MACROS END ################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 96.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 81.8
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.358
#*# pid_ki = 12.757
#*# pid_kd = 25.905
#*#
#*# [probe]
#*# z_offset = 0.650
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.080781, -0.312148, -0.511250, -0.679336, -0.754727, -0.833203, -0.781758, -0.749844, -0.646641
#*# 	  -0.256094, -0.471563, -0.643633, -0.777266, -0.865000, -0.923125, -0.910898, -0.885000, -0.844922
#*# 	  -0.384648, -0.562695, -0.729375, -0.835273, -0.930586, -0.982227, -0.991563, -0.971680, -0.951875
#*# 	  -0.387461, -0.561719, -0.722422, -0.825039, -0.928867, -0.965039, -0.993086, -0.977500, -0.970859
#*# 	  -0.297852, -0.471133, -0.636250, -0.744336, -0.844297, -0.873516, -0.902852, -0.881875, -0.860078
#*# 	  -0.139102, -0.339492, -0.527344, -0.638711, -0.749141, -0.759063, -0.777344, -0.737969, -0.693125
#*# 	  0.081719, -0.147969, -0.379141, -0.497148, -0.617617, -0.622305, -0.629219, -0.558359, -0.486172
#*# 	  0.321094, 0.043945, -0.226211, -0.349375, -0.489727, -0.490898, -0.503203, -0.361172, -0.059258
#*# 	  0.510195, 0.227305, -0.079492, -0.243750, -0.402422, -0.417656, -0.375898, 0.343594, 1.266523
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 300.0
